@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

.navbar {
  background-color: #DBC39A;
}

.home-page {
  display: flex;
  flex-flow: row wrap;
  text-align: center; 
  background-image: linear-gradient(to bottom right, #1186a2, #1f4f67);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-page > * {
  padding: 10px;
  flex: 1 100%;
}

.Cell-dayOfMonth{
  display: none;
}

.home-page header {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 30px;
}

.home-page h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 30px;
}

.home-page p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 30px;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.searchBar {
  margin-left: 1rem;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

.dropdown-content {
  height: 400px;
  margin-left: 16px;
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 9;
  color: black;
  overflow: scroll;
}

.footer {
  opacity: 0.60;
}

.search{
  display: flex;

}

.button {
  font-family: Inconsolata, monospace;
  position: relative;
  background-color: black;
  border-radius: 4em;
  font-size: 17px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button-red {
  font-family: Inconsolata, monospace;
  position: relative;
  background-color: red;
  border-radius: 4em;
  font-size: 17px;
  font-weight: 800;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button-green {
  font-family: Inconsolata, monospace;
  position: relative;
  background-color: green;
  border-radius: 4em;
  font-size: 17px;
  font-weight: 800;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

.Cell-dayOfWeek {
  font-family: Inconsolata, monospace !important;
  font-size: 1.25rem !important;
  color: #000000 !important;
}

.Label-text {
  font-family: Inconsolata, monospace !important;
  font-size: 0.95rem !important;
  color: #000000 !important;
}

.css-18tcpub-MuiTableCell-root.Cell-cell {
  border-right: 1px solid rgb(0, 0, 0) !important;
}

.css-18tcpub-MuiTableCell-root {
  border-bottom: 1px solid rgb(0, 0, 0) !important;
}

.css-7capb3.Table-table {
  background: white
}

.Container-container{
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  padding-bottom: 6.25rem;
}

.css-18tcpub-MuiTableCell-root {
  background-color: white !important;
}

.DayScaleEmptyCell-emptyCell {
  border: none;
}

.suggestions {
  font-size: 14px;
  text-align: left;
  color: black;
  vertical-align: text-top;
}

.suggestedButtons button {
  display: block; /* Make the buttons appear below each other */
}


@media all and (min-width: 800px) {
  .aside { flex: 1 0 0; }
  .info { order: 1; } 
  .search  { order: 2; }
  .Container-container { order: 3; }
  .footer  { order: 4; }
}

/*semester choice CSS*/
.semester-choice {
  color: #ffffff;
  font-size: 14px;
}
