body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-font-heading {
  color: white;
  font-weight: 500;
  font-size: larger;
}

.white-font-content {
  color: white;
  font-weight: 200;
  font-size: medium;
}

.popup-box{
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99 !important; 
}

.box {
  position: relative;
  width: 50%;
  min-height: 100px;
  background-color: red;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  overflow: auto;
}

.btn-close{
  cursor: pointer;
  position: fixed;
  border: 1px solid #ffffff;
  border-radius: 50%;
  right: calc(25% - 0px);
  top: 25px;
}

.form-box{
  /* border-top: 1px solid #fca311; */
  width: 100vw;
}

.form-col{
  justify-content: center;
  border-left: 1px solid #fca311;
  border-right: 1px solid #fca311;
}

.center-box{
  text-align: center;
  justify-content: center;
}

.yellow-bg {
  background-color: #fca311;
  padding: 2%;
}

th, td {
  padding: 10px;
}

.td-lecture {
  background-color: rgb(198, 226, 255);
}

.td-lab {
  background-color: rgb(56, 209, 226); 
}

.td-seminar {
  background-color: rgb(255, 115, 115);
}

.td-exam {
  background-color: rgb(0, 128, 128);
}

.col-center {
  text-align: center; 
  margin-left: 25vw;
}
