[Unit]
Description=Backend portion of the app being hosted
After=network.target

[Service]
User=socs
WorkingDirectory=/home/socs/cis3760-team-302/scheduler-app/flask
ExecStart=/usr/local/bin/gunicorn -b 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target