<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Scheduler</title>
    <meta charset="utf-8">
    <!--Remember to change style sheet reference if we need to-->
    <link rel="stylesheet" href="css/style.css" />
</head>

<body class="main_body">
    <h1>Scheduler</h1>

    <!--Schedule Display Section-->
    <div>
        <h2>Schedule</h2>
    </div>

    <!--form fill in seciton-->
    <form>
        <label for="fname">Coursee:</label><br>
        <input type="text" id="fname" name="fname"><br>

        <p>Check which day you want off</p>
        <input type="checkbox">
        <label>Monday</label><br>
        <input type="checkbox">
        <label> Tuesday</label><br>
        <input type="checkbox">
        <label>Wednesday</label><br>
        <input type="checkbox" >
        <label> Thursday</label><br>
        <input type="checkbox" >
        <label> Friday</label><br>
        <input type="checkbox" >
        <label> Saturday</label><br>
        <input type="checkbox">
        <label >Sunday</label><br>

        <p>Check your prefered Time preferences</p>
        <input type="radio" name="time_preference">
        <label>Early Morning</label><br>
        <input type="radio" name="time_preference">
        <label>Afternoon</label><br>
        <input type="radio" name="time_preference">
        <label>Night</label><br>

        <input type="submit" value="Submit">
        
    </form>
</body>


<!--Scripts go here-->
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>

</html>